#district-map {
  height: 350px;
}

@media (min-width: $tabletBreakpoint) {
  #district-map {
    height: 450px;
  }
}

@media (min-width: $computerBreakpoint) {
  #district-map {
    height: 550px;
  }
}
