/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# duct specific
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj

# macOS specific
.DS_Store

# Default output for generating static pages
site

# node.js specific
bower_components
node_modules

# generated resources
resources/public
