{% extends "_layout.html" %}
{% block content %}
<h1></h1>
<form class="pa4 black-80" action="strassen">
  <div class="measure center">
    <input value="{{name}}" placeholder="Gib deine Straße ein …" name="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="Suche nach Straße">
  </div>
</form>
<ul class="list pl0 ml0 center mw6 ba b--light-silver br2">
  {% for street in streets %}
  <a href="/schulen/{{street.schoolId}}">
  {% if loop.last %}
  <li class="ph3 pv3">
    <p>{{street.name}}</p>
    <p class="f6">{{street.houseNumbers}}</p>
  </li>
  {% else %}
  <li class="ph3 pv3 bb b--light-silver">
    <p>{{street.name}}</p>
    <p class="f6">{{street.houseNumbers}}</p>
  </li>
  {% endif %}
  </a>
  {% endfor %}
</ul>
{% endblock %}
